.rej
*.rej
*.orig
bin/
dist/
vuesax-laravel-starter/node_modules/
temp/
versions/
*.zip
/bin
package.json
package-lock.json
docs/.vuepress/dist/
yarn.lock
yarn-error.log
vuexy-shell-scripts
capacitor.config.json
deploy.sh
