:root {
    --border: #DFE6EC;
    --fondo: #EBF3F8;
    --titulo: #22262D;
    --subtitulo: #3E4448;
    --texto: #5C5E62;
    --detalles: #939699;
    --violet: #8743FF;
    --celeste: #1EB2FF;
    --azul: #284DB4;
    --colorazul: #3EA0EA;
    --colorrojo: #F06060;
    --colortomate:#f4511e;
    --coloramarillo: #E8C65A;
    --colorverde: #35D392;
}